<div class="jumbotron" style="background-image: url(<%=siteConfig.bg%>);background-size: cover;">
  
  <div class="site-logo">
  	<a href="/">
  		<img src="/assets/img/logo.png" alt="">
  	</a>
  </div>

  <div class="container">
  	<div class="row">
  		<div class="title">
  			<h1><%=siteConfig.title%></h1>
  			<p><%=siteConfig.subtitle%></p>
			<%if ((siteConfig.homepage === true) && (!user)  ){%>
				<p><a class="btn btn-primary btn-lg" href="/login" role="button">Login Now!</a></p>
			<%}%>
  		</div>
  	</div>
  </div>

  <svg class="wavy-curve" viewBox="0 0 500 200" preserveAspectRatio="none">		  		
  	<path class="path" d="M0,0 C0,0 250,420 500,0 L500,200 L0,200 Z" style="stroke:none;">
  		
  	</path>			
  </svg>

  

  <%if (user && user.id) {%>
    <nav id="top">
      <ul>
        <% if (user.role==="CUSTOMER") { %>
          <li  class="new-booking <%= (siteConfig.currPage === 'book-a-desk') ? 'active' : '' %>">
            <a href="/book">
              <i class="fa fa-book " aria-hidden="true"></i>
              <div class="desc">Book A Desk</div>
            </a>
          </li>
        <%}%>
        
        <li  class="upcoming-bookings <%= (siteConfig.currPage === 'upcoming-bookings') ? 'active' : '' %>">
          <a href="/bookings">
            <i class="fa fa-address-book" aria-hidden="true"></i>
            <div class="desc">Upcoming Bookings</div>
          </a>
        </li>
        <li class="past-bookings <%= (siteConfig.currPage === 'history') ? 'active' : '' %>">
          <a href="/history" >
            <i class="fa fa-history" aria-hidden="true"></i>
            <div class="desc">History</div>
          </a>
        </li>
      </ul>
    </nav>

    <div class="profile dropdown pull-right">
      <span class="username"><%=user.first_name + " " + (user.last_name ? user.last_name : "")%></span>
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        </button>
     
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <% if (user.role==="CUSTOMER") { %>
          <li><a href="/book">New Booking</a></li>
        <%}%>
        <li><a href="/bookings">Next Bookings</a></li>
        <li><a href="/history">Prev Bookings</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></li>
      </ul>
    </div>
  <%}%>
  



</div>