<%
	
	function getMonth(monthYear) {
		var year = monthYear.split("-")[0];
		var month = monthYear.split("-")[1];
		var months = [ "January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December" ];
    	return months[month-1].substr(0,3)
	}
	function getWeekday(monthYear,dayKey){
		var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
		var year = monthYear.split("-")[0];
		var month = monthYear.split("-")[1];
		var day = monthYear.split("-")[2];
		var newDate=  new Date(year,month-1,day);
		return days[newDate.getDay()];
	}
	function getMonthYear(monthYear) {
		var year = monthYear.split("-")[0];
		var month = monthYear.split("-")[1];
		var months = [ "January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December" ];
    	return months[month-1]+ " " + year;
	}
	function slugify(text){
	  return text.toString().toLowerCase()
	    .replace(/\s+/g, '-')           // Replace spaces with -
	    .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
	    .replace(/\-\-+/g, '-')         // Replace multiple - with single -
	    .replace(/^-+/, '')             // Trim - from start of text
	    .replace(/-+$/, '');            // Trim - from end of text
	}
%>

<% if (Object.keys(results).length === 0 && results.constructor === Object) { %>
<br/>
<br/>
<h2 class="center">No Available Bookings</h2>
<%}%>

	<section class="list-month">
		<div class="list-controls clearfix" style="display: block;">
		<div class="list-month-title" style="display: none"><%=getMonthYear(date)%></div>
			<span class="list-event-prev" style="display: none"></span>
			<span class="list-event-next" style="display: none"></span>
		</div>
		<br/>
		<div class="clearfix push"></div>
			<div class="list-day">
				<div class="list-time">
					<div class="list-time-day"><%=date.split("-")[2]%></div>
					<div class="list-time-month"><%=getMonth(date)%></div>
				</div>
				<div class="list-day-detail">
					<div class="list-weekday"><%=getWeekday(date)%></div>
				<% results.forEach(function(agent){%>
					<article class="event">
						<h4>
							<a href="/book/agent/<%=agent.id%>/date/<%=date%>">
								<span><strong>Floor:</strong> <%=agent.floor%></span>
								<span><strong>Desk:</strong> <%=agent.desk%></span>
								<%=agent.first_name%> <%=agent.last_name%>
								
							</a>
						</h4>
					</article>
					
				<% }); %>
				</div>
				
			</div>
			

	</section>

