<%
	
	function getMonth(monthYear) {
		var year = monthYear.split("-")[0];
		var month = monthYear.split("-")[1];
		var months = [ "January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December" ];
    	return months[month-1].substr(0,3)
	}
	function getWeekday(monthYear,dayKey){
		var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
		var year = monthYear.split("-")[0];
		var month = monthYear.split("-")[1];
		var day = dayKey;
		var newDate=  new Date(year,month-1,day);
		return days[newDate.getDay()];
	}
	function getMonthYear(monthYear) {
		var year = monthYear.split("-")[0];
		var month = monthYear.split("-")[1];
		var months = [ "January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December" ];
    	return months[month-1]+ " " + year;
	}
	function slugify(text){
	  return text.toString().toLowerCase()
	    .replace(/\s+/g, '-')           // Replace spaces with -
	    .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
	    .replace(/\-\-+/g, '-')         // Replace multiple - with single -
	    .replace(/^-+/, '')             // Trim - from start of text
	    .replace(/-+$/, '');            // Trim - from end of text
	}
%>


<p><b>Desk:</b> <span> <%=booking.desk%> </span></p>
<p><b>Floor:</b> <span> <%=booking.floor%> </span></p>
<p><b>Datetime:</b> <span> <%=booking.startdate%> </span></p>
<p><b>Employee:</b> <span> <%=booking.customer_firstname + " " + booking.customer_lastname%> </span></p>
<p><b>Team:</b> <span> <%=booking.team_name%> </span></p>
<p><b>Description:</b> <span> <%=booking.description%> </span></p>
<% if (user && (user.role == "CUSTOMER") ) {%>
	<p>
		<a class="btn btn-info" href="/booking/edit/<%=booking.id%>/<%=slugify(booking.title)%>">Edit</a>
		<a class="btn btn-danger" href="/booking/delete/<%=booking.id%>/<%=slugify(booking.title)%>">Delete</a>
	</p>
<%}%>



