<%
	
	function getMonth(monthYear) {
		var year = monthYear.split("-")[0];
		var month = monthYear.split("-")[1];
		var months = [ "January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December" ];
    	return months[month-1].substr(0,3)
	}
	function getWeekday(monthYear,dayKey){
		var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
		var year = monthYear.split("-")[0];
		var month = monthYear.split("-")[1];
		var day = dayKey;
		var newDate=  new Date(year,month-1,day);
		return days[newDate.getDay()];
	}
	function getMonthYear(monthYear) {
		var year = monthYear.split("-")[0];
		var month = monthYear.split("-")[1];
		var months = [ "January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December" ];
    	return months[month-1]+ " " + year;
	}
	function slugify(text){
	  return text.toString().toLowerCase()
	    .replace(/\s+/g, '-')           // Replace spaces with -
	    .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
	    .replace(/\-\-+/g, '-')         // Replace multiple - with single -
	    .replace(/^-+/, '')             // Trim - from start of text
	    .replace(/-+$/, '');            // Trim - from end of text
	}
%>


<% if (Object.keys(results).length === 0 && results.constructor === Object) {%>
	<br/>
	<br/>
	<p>No results found</p>
<%}%>

<% Object.keys(results).forEach(function(monthYearKey) { %>
	<section class="list-month">
		<div class="list-controls clearfix" style="display: block;">
		<div class="list-month-title"><%=getMonthYear(monthYearKey)%></div>
			<span class="list-event-prev"></span>
			<span class="list-event-next"></span>
		</div>
		<div class="clearfix push"></div>
		<%Object.keys(results[monthYearKey]).forEach(function(dayKey){ %> 
			<div class="list-day">
				<div class="list-time">
					<div class="list-time-day"><%=dayKey%></div>
					<div class="list-time-month"><%=getMonth(monthYearKey)%></div>
				</div>
				<div class="list-day-detail">
					<div class="list-weekday"><%=getWeekday(monthYearKey,dayKey)%></div>
				<% results[monthYearKey][dayKey].forEach(function(booking){%>
					<article class="event">
						<% if (user.role === "CUSTOMER") {%>
							<h4>
								<a href="/booking/<%=booking.id%>/<%=slugify(booking.title)%>"><%=booking.title%></a>
							</h4>
							<p class="meta"><strong>Floor:</strong> <%=booking.agent_floor%></p>
							<p class="meta"><strong>Desk:</strong> <%=booking.agent_desk%></p>
							<!-- <p class="meta"><strong>Agent:</strong> <a href="<%=siteConfig.homeUrl%>/?agent_id=<%=booking.agent_id%>"><%=booking.agent_first_name + " " + booking.agent_last_name%></a></p> -->
							<p class="meta"><%=booking.description%></p>


							<!-- only show edit/delete buttons on upcoming bookings -->
							<%if (siteConfig.currPage != "history") {%>
								<p>
									<a class="btn btn-info" href="/booking/edit/<%=booking.id%>/<%=slugify(booking.title)%>"><span class="fa fa-pencil"></span> Edit</a>
									<a class="btn btn-danger" href="/booking/delete/<%=booking.id%>/<%=slugify(booking.title)%>"><span class="fa fa-remove"></span> Delete</a>
								</p>
							<%}%>
							
						<%} else if (user.role === "ADMIN") { %>
							<h4>
								<a href="/booking/<%=booking.id%>/<%=slugify(booking.title)%>"><%=booking.title%></a>
							</h4>
							<!-- <p class="meta"><strong>Agent:</strong> <a href="<%=siteConfig.homeUrl%>/?agent_id=<%=booking.agent_id%>"><%=booking.agent_first_name + " " + booking.agent_last_name%></a></p> -->
							<p class="meta"><strong>Customer:</strong> <a href="<%=siteConfig.homeUrl%>/?customer_id=<%=booking.customer_id%>"><%=booking.cust_first_name + " " + booking.cust_last_name%></a></p>
							<p class="meta"><strong>Team:</strong> <a href="<%=siteConfig.homeUrl%>/?team_id=<%=booking.team_id%>"><%=booking.team_name%></a></p>
							<p class="meta"><%=booking.description%></p>

						<% } else  {%>
							<h4>
								<a href="/booking/<%=booking.id%>/<%=slugify(booking.title)%>"><%=booking.title%></a>
							</h4>
							<p class="meta"><strong>Customer:</strong> <a href="<%=siteConfig.homeUrl%>/?customer_id=<%=booking.customer_id%>"><%=booking.cust_first_name + " " + booking.cust_last_name%></a></p>
							<p class="meta"><%=booking.description%></p>

						<% } %>
						
					</article>
					
				<% }); %>
				</div>
				
			</div>
			
		<% }); %>
	</section>
<% }); %>
