<div class="filters">
			<div class="booking-right clearfix">
				<form id='bookings_categories' name='event_categories' method="get" action="">
					<%if (user.role != 'STAFF') {%>
						<!-- <select id='agent_select' name='agent' style="width: 150px;height : 50px; display: none;">
					   		<option value="">Agents</option>
							<option value="">All</option> 
							<% agents.forEach(function(agent) { %>
								<%if ( (query) && (query.agent_id) && (query.agent_id == agent.id) ) {%>
									<option value="<%=agent.id%>" selected="selected" ><%=agent.first_name + " " + agent.last_name%></option> 
								<%}else{%>
									<option value="<%=agent.id%>"><%=agent.first_name + " " + agent.last_name%></option> 
								<%}%>
							<%})%>
						</select> -->
					<%}%>
					
					<select id='team_select' name='team' style="width: 150px">
					   	<option value="">Teams</option>
					  	<option value="">All</option>
					  	<% teams.forEach(function(team) { %>
								<%if ( (query) && (query.team_id) && (query.team_id == team.id) ) {%>
									<option value="<%=team.id%>" selected="selected"><%=team.name%></option>
								<%}else{%>
									<option value="<%=team.id%>"><%=team.name%></option> 
								<%}%>
						<%})%>
					</select>
        			<input id="bookingFilterSubmit" type="submit" value="Submit" style="display: none;" />
      			</form>
      			
				<form method="get" id="module-search" name="module-search">
					<fieldset>
						<input type="text" id="module-search-term" name="q" value="<%= (query.q) ? query.q : ''%>" />
						<button type="submit" name="submit" id="module-search-submit" value=""  class="icon-search"></button>
					</fieldset>
				</form>
      			
          		
			</div>
		</div>